MONGO_URI=mongodb+srv://sanketh:7204356073@cluster0.fnrx02b.mongodb.net/projmanage

PORT=8000
CORS_ORIGIN=*


ACCESS_TOKEN_SECRET=test
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=test
REFRESH_TOKEN_EXPIRY=10d

MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=567aade80604ee
MAILTRAP_SMTP_PASS=731f275ff06633
